/* :root {
    --white: #FFFFFF;
    --black: #000000;
    --red: #FF0000; 
    --blue: #0000FF;
    --green: #0f0; 
    --button-bg-color: #3498db;      
    --button-border-color: #2980b9;   
    --button-text-color: white;       
    --button-size: 16px;              
    --button-padding: 12px 20px;
}
*/
.primary-header{
    background-color: #FF0000;
}

button {
    
    color: #000000;
    border: 2px solid #0f0; 
    border-radius: 999999999999px;               /* Optional: For rounded corners */
    cursor: pointer;                  /* Change cursor on hover */
    transition: background-color 0.3s ease, border-color 0.3s ease;  /* Smooth transition */
  }

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 300px;          
    height: 50px;     
    /*    
    background-color: lightblue;  
    */
    border: 2px solid black;     
    padding: 20px;         
    margin: 20px auto;     
    text-align: center;
    font-size: 20px;    
}

.background {
    width: 100%;
    height: 100vh;
    background-color: burlywood;
}

.u-flex {
    display: flex; 
    border: 10px;
}

.u-textCenter{
    text-align: center;
}

hr {
    height: 10px;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right:100px;
    background-color: #000000;
    color: #000000;
}

.navBar{
    background-color: #2980b9;  
    text-align: center;
    
}

.google-login-button {
    visibility: visible;
    display: block;
}